*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
}
#back{
 display: none;
}
.cursor{
    cursor: pointer;
    color: whitesmoke;
    font-size: 24px;
    height: auto;
}
.cursor:hover{
    color: red;
    box-shadow: 0 0.4rem 0 rgba(243, 7, 7, 0.945);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}
.nex-page{
    color: red;
}
.nex-page:hover{
    color: green;
}
#btn0{
    display: none;
}
#btn1{
    display: none;
}
#btn2{
    display: none;
}
#btn3{
    display: none;
}
#btn4{
    display: none;
}
#btn5{
    display: none;
}
#btn6{
    display: none;
}
#btn7{
    display: none;
}
#btn8{
    display: none;
}
#btn9{
    display: none;
}
.personinfo{
    color: white;
    font-size: 20px;
}
#post0{
    display: none;
}
#post1{
    display: none;
}
#post2{
    display: none;
}
#post3{
    display: none;
}
#post4{
    display: none;
}
#post5{
    display: none;
}
#post6{
    display: none;
}
#post7{
    display: none;
}
#post8{
    display: none;
}
#post9{
    display: none;
}
#back{
    font-size: 22px;
    color: white;
    background-color: red;
}
#back:hover{
color: red;
box-shadow: 0 0.4rem 0 rgba(243, 7, 7, 0.945);
 transform: translateY(-0.3rem);
transition: transform 150ms;
background-color: seagreen;
list-style-type: none;
}